/* this are vars  */


/* I had a huge mess with touch screen simulator in the dev inspect panel of 
firefox.

See this -> https://stackoverflow.com/q/64624589 

need to add this to the html 
<meta name="viewport" content="width=device-width, initial-scale=1">
 */


:root {
    --colorBackground: #1A1B26;
    --colorText: #9AA5CE;
    --colorClock: #7AA2F7;
    --colorBoxes: #545C7E;
}

body {
    background: var(--colorBackground);
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* unvisited link */
a:link {
    color: var(--colorText);
}

/* visited link */
a:visited {
    color: var(--colorText);
}

/* mouse over link */
a:hover {
    color: var(--colorText);
}

/* selected link */
a:active {
    color: var(--colorText);
} 


/* MOBILE first */

/* the whole parent */

.fullw {
    position: relative;
    width: 100%;
    height: 100%;
}

#searchBar {
    position: absolute;
    left: 10%;
    top: 35%;
    width: 80%;
    height: 70px;
    background: var(--colorBoxes);
    border-radius: 50px;
    /* and here the text inside the bar  */
    font-family: Roboto Slab;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    color: #9AA5CE;
    border: none;
}


#searchBar:focus {
    outline: none;
}

/* Clock time */

.no-margins{
    margin: 0px;
}

#clock {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 127px;
    color: var(--colorClock);
}

.clock-cont {
    position: absolute;
    /* modify in media */
    width: 60%;
    height: 127px; 
    left: 20%;
    top: 20%;
    text-align: center;
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    #searchBar {
        top: 30%;
        border: none;
    }

    .clock-cont {
        top: 40%;
    }
}

@media only screen and (min-width: 1000px) {
    #searchBar {
        top: 45%;
        border: none;
        width: 40%;
        left: 30%;
    }
    .clock-cont {
        top: 25%;
    }
}

